@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

.App{
  max-height: 100vh;
  background-color: #f5f5f5;
}

.linkHover:hover {
  color: #ed1b2f;
  transition: all 0.25s ease-in-out;
}

.linkHoverBg:hover {
  color: #ed1b2f !important;
  border-color: #ed1b2f !important;
}

.dividerMargin {
  margin: 0.92rem 0 !important;
}

.ant-slider-track{
  background-color: #ed1b2f !important;
}
